<div class="panel panel-default snslink" >
	<div class="panel-heading">
		<h4 class="text-center">SNS LINK</h4>
	</div>
	<table class="table table-social">
		<tbody>
			<tr>
				<td>
					<div class="faa-parent animated-hover">
						<i class="fab fa-youtube faa-bounce fa-fw fa-2x icon-youtube"></i>YouTube
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="faa-parent animated-hover">
						<i class="fab fa-instagram-square faa-pulse fa-fw fa-2x icon-instagram"></i>Instagram
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="faa-parent animated-hover">
						<i class="fab fa-snapchat faa-flash fa-fw fa-2x icon-snapchat"></i>Snapchat
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="faa-parent animated-hover">
						<i class="fab fa-twitter faa-wrench  fa-fw fa-2x icon-twitter"></i>Twitter
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="faa-parent animated-hover">
						<i class="fab fa-facebook faa-spin fa-fw fa-2x icon-facebook"></i>Facebook
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="faa-parent animated-hover">
						<i class="fab fa-line faa-tada fa-fw fa-2x icon-line"></i>LINE
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>