// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container{
  height: 500px;
  width: 100%
}

.image1 {
background-image: url(image01.jpg);
}
.image2 {
background-image: url(image02.jpg);
}
.image3 {
background-image: url(image04.jpg);
}
.image4 {
background-image: url(image05.jpg);
}

.top-message {
	height: 200px;
}

.top-text {
	margin: 60px 0 0 10px;
}