// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-youtube {
color: #da1725;
margin-right: 5px;
}

.icon-instagram {
color: #cf2e92;
margin-right: 5px;
}

.icon-snapchat {
color: #fffc00;
margin-right: 5px;
}

.icon-twitter {
color: #1da1f2;
margin-right: 5px;
}

.icon-facebook {
color: #3c5a99;
margin-right: 5px;
}

.icon-line {
color: #00b900;
margin-right: 5px;
}

.item-index {
	font-size: 30px;
}

.item-count {
	font-size: 18px;
}
