// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-table {
	margin: 0 50px 50px 0;
}

.sum-table {
	height: 200px;
}

.finish-message {
	margin-top: 200px;
}
